<div class="container">
    <div class="page-header">
        <h1>{{config.websiteTitle}}</h1>
        <h4>{{config.websiteQuotation}}</h4>
        <link href="apps/infrastructure/template/styles/template.css" rel="stylesheet" />

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <!--<div class="collapse" id="CollapsingNavbar">-->
                        <li ng-repeat="item in config.topbarLeft">
                            <a style="cursor: pointer" ng-class="{active: $state.includes(item.state)}"  ng-click="action(item.state)"><span ng-class="item.icon"></span> {{item.title}}</a>
                        </li>
                        <!--</div>-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="loggedIn">
                            <a style="cursor: pointer" ng-click="action('profile')"
                               ng-class="{active: $state.includes('profile')}"><span class="glyphicon glyphicon-cog"></span> {{userInfo.userName}}</a>
                        </li>
                        <li ng-repeat="item in config.topbarRight">
                            <a style="cursor: pointer" ng-click="action(item.state)" ng-class="{active: $state.includes(item.state)}"><span ng-class="item.icon"></span> {{item.title}}</a>
                        </li>
                    </ul>
                </div>


            </nav>
        </div>
    </div>
    <!--<div class="nav navbar-left">-->
    <!--<div class="container">-->
    <div ng-if="config.leftNavbar">
        <button class="btn bg-info " ng-class="hideLeft?'btn-circle btn-xl menu-expand': null" ng-click="hideLeftNav()">
            <span ng-class="hideLeft?'glyphicon glyphicon-menu-hamburger':'glyphicon glyphicon-arrow-left'"></span></button>
    </div>
    <div class="row">
        <div ng-if="config.leftNavbar && !hideLeft" class="col-sm-3 col-md-3">
            <div class="panel-group">
                <div class="panel panel-default" ng-repeat="content in config.leftNavbar">
                    <div class="panel-heading" ng-click="menuExpanded[content.title]=(!menuExpanded[content.title])">
                        <h3 class="panel-title" style="cursor: default">
                            <span ng-class="menuExpanded[content.title]?'glyphicon glyphicon-minus':'glyphicon glyphicon-plus'"></span>
                            {{content.title}}
                        </h3>

                    </div>
                    <ul class="list-group" ng-show="menuExpanded[content.title]">
                        <li ng-repeat="item in content.menus" class="list-group-item">
                            <span ng-class="item.icon?item.icon: 'glyphicon glyphicon-circle-arrow-right'"></span>
                            <a style="cursor: pointer" ng-click="action(item.state, item.stateParams)"  ng-class="{'active-tem': activeRoute==(item.state+item.stateParams)}" >{{item.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-class="config.leftNavbar && !hideLeft? 'col-sm-9 col-md-9':null">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ui-view>

                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
        <!--</div>-->

    </div>
    <div class="footer navbar-bottom">
          <p style="text-align: center;">© 2016 Loence. All rights reserved</p>
  </div>
</div>
