<div class="">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Select Question</h4>
    <button class="btn btn-primary close" ng-if="valid" type="button" ng-click="save()">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button class="btn btn-warning close" type="button" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div  class="modal-body" id="modal-body">
    <div>
      <button class="btn btn-success">{{totalSelected}} selected</button>
      <button class="btn btn-success">{{numberOfQuestionNeeded-totalSelected}} to choose</button>
    </div>
    <div class="form-group col-sm-5 col-md-5">
      <label>Filter Difficulty Level</label>
      <select class="form-control" ng-model="selectedDifficultyLevel"
              ng-options="level as level.name for level in difficultyLevels" ng-change="loadQuestions()">
      </select>
    </div>

   <div ng-repeat="question in allQuestions">
     <div class="row">
       <div class="col-md-12 col-lg-12 col-sm-12"><br/></div>
       <div class="col-lg-10 col-md-10 col-sm-10">
         <h3>{{question.title}}</h3>
       </div>
       <div ng-if="question.titleFigure" class="col-lg-10 col-md-10 col-sm-10">
         <img ng-src="{{baseUrl+question.titleFigure}}" alt="Question Figure" class="img-responsive" style="max-height: 300px;max-width: 300px">
       </div>

       <!--<div ng-if="!question.optionAFigure" class="col-lg-5 col-md-5 col-sm-5">
         <br/>
         <h4>{{question.optionA}}</h4>
       </div>

       <div ng-if="question.optionAFigure" class="col-lg-10 col-md-10 col-sm-10">
         <img ng-src="{{baseUrl+question.optionAFigure}}" alt="Question Figure" class="img-responsive" style="max-height: 200px;max-width: 200px">
       </div>-->
       <div class="col-md-4 col-sm-4">
         <button ng-class="question.showDetails?'btn btn-default':'btn btn-info'"
                 ng-click="question.showDetails=!question.showDetails">
           <span ng-class="question.showDetails?'glyphicon glyphicon-minus':'glyphicon glyphicon-plus'"> Details</span>
         </button>
       </div>
       <div class="col-md-4 col-sm-4">
         <button ng-disabled="!question.selected && !canSelect" ng-class="question.selected?'btn btn-warning':'btn btn-primary'"
                 ng-click="selectToAdd(question)">
           <span ng-class="question.selected?'glyphicon glyphicon-remove-circle':'glyphicon glyphicon-check'">
          {{!question.selected? 'Add To Exam':'Remove'}}</span>
         </button>

       </div>

     </div>
     <div ng-if="question.showDetails">
       <div>
         <table class="table table-responsive">
           <thead>
           <tr>
             <th>Option A</th>
             <th>Option B</th>
           </tr>
           </thead>
           <tbody>
           <tr>
             <td>
               <div ng-if="question.optionAFigure">
                 <img ng-src="{{baseUrl+question.optionAFigure}}" alt="{{question.optionA}}" class="img-responsive" style="max-height: 200px;max-width: 200px">
               </div>
               <div ng-if="!question.optionAFigure">
                 {{question.optionA}}
               </div>
             </td>
             <td>
               <div ng-if="question.optionBFigure">
                 <img ng-src="{{baseUrl+question.optionBFigure}}" alt="{{question.optionB}}" class="img-responsive" style="max-height: 200px;max-width: 200px">
               </div>
               <div ng-if="!question.optionBFigure">
                 {{question.optionB}}
               </div>
             </td>
           </tr>
           </tbody>
         </table>
       </div>
       <div>
         <table class="table table-responsive">
           <thead>
           <tr>
             <th>Option C</th>
             <th>Option D</th>
           </tr>
           </thead>
           <tbody>
           <tr>
             <td>
               <div ng-if="question.optionCFigure">
                 <img ng-src="{{baseUrl+question.optionCFigure}}" alt="{{question.optionC}}" class="img-responsive" style="max-height: 200px;max-width: 200px">
               </div>
               <div ng-if="!question.optionCFigure">
                 {{question.optionC}}
               </div>
             </td>
             <td>
               <div ng-if="question.optionDFigure">
                 <img ng-src="{{baseUrl+question.optionDFigure}}" alt="{{question.optionD}}" class="img-responsive" style="max-height: 200px;max-width: 200px">
               </div>
               <div ng-if="!question.optionDFigure">
                 {{question.optionD}}
               </div>
             </td>
           </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>


  </div>
  <div class="modal-footer">
    <button ng-disabled="!valid" class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>
