<div>
    <link href="bower_components/tr-ng-grid/trNgGrid.min.css" rel="stylesheet"/>
    <link href="bower_components/angular-modal/modal.css" rel="stylesheet" />
    <link href="apps/business/exam/styles/exam.css" rel="stylesheet" />

    <!--<link href="bower_components/angular-data-table/release/material.css" rel="stylesheet"/>-->

    <h1>{{pageTitle}}</h1>
  <div class="row">
      <div class="form-group col-sm-3 col-md-3">
          <label>Filter By Subject</label>
          <select class="form-control" ng-model="selectedSubject"
                  ng-options="subject as subject.title for subject in subjects" ng-change="updateTableBySubject(1)">
          </select>
          <button ng-if="selectedSubject" ng-click="updateTableBySubject(0)"> <span class="glyphicon glyphicon-remove-sign"></span>Clear</button>
      </div>
    <div class="form-group col-sm-2 col-md-2">
      <label>Items Per Page</label>
      <input class="form-control" type="number" ng-model="pageSize" max="100" min="1">
      </input>
    </div>
      <div ng-if="showMenu" class="col-sm-7 col-md-7">
          <br/>
          <div ng-if="roleWeight>1">
              <button ng-if="roleWeight>2 || canEdit" class="btn btn-danger"  ng-click="deleteSelected()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
              <button ng-click="showResultExaminer()" class="btn btn-primary" ng-hide="multiSelect"><span class="glyphicon glyphicon-play-circle"></span> See Result</button>
              <button ng-if="roleWeight>2 || canEdit" ng-click="editSelected()" class="btn btn-primary" ng-hide="multiSelect"><span class="glyphicon glyphicon-edit"></span> Edit</button>
              <button ng-click="viewSelected()" class="btn btn-primary" ng-hide="multiSelect"><span class="glyphicon glyphicon-eye-open"></span> Details</button>
          </div>
          <div ng-if="roleWeight==1">
              <span ng-if="!selectedExams[0].needApproval" class="label label-default">Free</span>
              <span ng-if="selectedExams[0].applied" class="label label-default">Applied</span>
              <span ng-if="selectedExams[0].approved" class="label label-default">Approved</span>
              <span ng-if="selectedExams[0].taken" class="label label-default">Taken</span>
              <button ng-click="apply()" ng-if="canApply" class="btn btn-primary" ng-hide="multiSelect"><span class="glyphicon glyphicon-play-circle"></span> Apply</button>
              <button ng-click="takeExam()" ng-if="canTake" class="btn btn-primary" ng-hide="multiSelect"><span class="glyphicon glyphicon-play-circle"></span> Take Exam</button>
              <button ng-click="showResult()" ng-if="seeResult" class="btn btn-primary" ng-hide="multiSelect"><span class="glyphicon glyphicon-play-circle"></span> See Result</button>
          </div>


      </div>

  </div>
    <div style="background-color: lightblue">
      <table ng-hide="loading" enable-filtering="false" tr-ng-grid items='allExams' page-items="pageSize" total-items="totalItems" selected-items="selectedExams" selection-mode="{{multiRow}}"
              on-data-required="loadMore(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
          <thead>
          <tr>
              <th field-name="title" enable-filtering="true" display-name="Exam Title"   display-align="left">
              </th><th field-name="subject" display-name="Subject" enable-filtering="false" enable-sorting="false">
          </th>
          </th><th field-name="timeSchedule" display-name="Schedule" enable-filtering="false" enable-sorting="true" display-align="center">
          </th></tr>
          </thead>

      </table>

        <div ng-if="loading">
            <button  class="btn btn-lg btn-warning center-block">
                <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
            </button>
        </div>
    </div>

   <!-- <dtable options="options" rows="data" class="material dt">
        <column name="Name" width="300" flex-grow="2"></column>
        <column name="Gender">
            <strong>{{$row.name}}</strong>: {{$cell}}
        </column>
    </dtable>-->

</div>
