<div>
    <link href="apps/business/exam/styles/exam.css" rel="stylesheet" type="text/css"/>
    <form novalidate>
        <h1>{{pageTitle}}</h1>
        <formly-form model="examModel" fields="examSchema" form="examForm">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="generateQuestionAuto">
                    Generate question automatically?
                </label>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="examForm.$invalid" ng-click="createExam(generateQuestionAuto)">Submit</button>
        </formly-form>
    </form>
</div>
