<div>
    <form novalidate>
        <h1>{{pageTitle}}</h1>
        <formly-form model="questionModel" fields="questionSchema" form="questionForm">
          <button ng-click="imageInQuestion=!imageInQuestion"><span ng-class="imageInQuestion?'glyphicon glyphicon-remove-circle':'glyphicon glyphicon-picture'" ></span> Figures</button>
         <br/><br/>
          <div ng-if="imageInQuestion">
            <b>Question Image</b><input ng-disabled="uploadInprogress" ng-click="updateUploadingImgInfo('q')" type="file" accept="{{fileAcceptTypes}}" nv-file-select uploader="uploader" filters="imageFilter"/><br/>
            <b>Option A Image</b><input ng-disabled="uploadInprogress" ng-click="updateUploadingImgInfo('oa')"  type="file" accept="{{fileAcceptTypes}}" nv-file-select uploader="uploader"/><br/>
            <b>Option B Image</b><input ng-disabled="uploadInprogress" ng-click="updateUploadingImgInfo('ob')"  type="file" accept="{{fileAcceptTypes}}" nv-file-select uploader="uploader"/><br/>
            <b>Option C Image</b><input ng-disabled="uploadInprogress" ng-click="updateUploadingImgInfo('oc')"  type="file" accept="{{fileAcceptTypes}}" nv-file-select uploader="uploader"/><br/>
            <b>Option D Image</b><input ng-disabled="uploadInprogress" ng-click="updateUploadingImgInfo('od')"  type="file" accept="{{fileAcceptTypes}}" nv-file-select uploader="uploader"/><br/>
          </div>
            <button type="submit" class="btn btn-primary" ng-disabled="questionForm.$invalid" ng-click="createQuestion()">Submit</button>
        </formly-form>
    </form>
</div>
