<div class="">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirm Leave Page</h4>
  </div>
  <div  class="modal-body" id="modal-body">
  <h2><span class="glyphicon glyphicon-warning-sign"></span> If you leave the page, your exam will be submitted.</h2>

    <div class="modal-footer">
      <button type="submit" class="btn btn-warning"  ng-click="confirm()">Confirm</button>
      <button class="btn btn-primary " type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>
