<div class="">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Notice Details</h4>
    <button class="btn btn-warning close" type="button" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div  class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <h1 style="text-align: center">{{notice.title}}</h1>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>

    <br><br>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <p>{{notice.description}}</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>


  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Done</button>
  </div>
</div>
